{% extends "base.html" %}
{% load static %}

{% block extra_styling %}

{% endblock extra_styling %}

{% block content %}

<section class="Hero">
    <div class="container py-5 text-white">
        <h1 style="font-size: 57px; font-weight: 800;">Why not Make Some EXTRA CASH Today?</h1>
        <p class="lead" style="font-size: 24px; margin: 0 !important;">Recommed Our service and get paid $10 with every
            sale you make</p>
        <a class="btn btn-warning btn-md font-weight-bold my-3" href="#" style="padding: 8px 32px !important;">Sign up
            Free!</a>
</section>
<section style="background-color: #F1F1F1;">
    <div class="container py-5">
        <h2 style="font-size: 30px; font-weight: 800; color: #D05B00;">$25 commission on all dedicated servers and $10
            on shared hosting. All our packages are easy to sell ... Earn Up To $500 Per 20 sales only!</h2>
        <p>Its super easy to sell high value affordable plans covered by personal tech. support</p>

        <div class="row">
            <div class="col-6 text-center">
                <img src="https://www.pawnhost.com/images/icon_calendar_large.jpg">
                <h2 class="my-3" style="font-size: 30px; font-weight: 800; color: #0171BC;">Signups per month:</h2>
                <ul class="list-unstyled mt-3 mb-4">
                    <li>
                        <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                            <path
                                d="M438.6 105.4C451.1 117.9 451.1 138.1 438.6 150.6L182.6 406.6C170.1 419.1 149.9 419.1 137.4 406.6L9.372 278.6C-3.124 266.1-3.124 245.9 9.372 233.4C21.87 220.9 42.13 220.9 54.63 233.4L159.1 338.7L393.4 105.4C405.9 92.88 426.1 92.88 438.6 105.4H438.6z" />
                        </svg></i> 05 $125/signup
                    </li>
                    <li><svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                            <path
                                d="M438.6 105.4C451.1 117.9 451.1 138.1 438.6 150.6L182.6 406.6C170.1 419.1 149.9 419.1 137.4 406.6L9.372 278.6C-3.124 266.1-3.124 245.9 9.372 233.4C21.87 220.9 42.13 220.9 54.63 233.4L159.1 338.7L393.4 105.4C405.9 92.88 426.1 92.88 438.6 105.4H438.6z" />
                        </svg></i> 05 $125/signup</li>
                    <li><svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                            <path
                                d="M438.6 105.4C451.1 117.9 451.1 138.1 438.6 150.6L182.6 406.6C170.1 419.1 149.9 419.1 137.4 406.6L9.372 278.6C-3.124 266.1-3.124 245.9 9.372 233.4C21.87 220.9 42.13 220.9 54.63 233.4L159.1 338.7L393.4 105.4C405.9 92.88 426.1 92.88 438.6 105.4H438.6z" />
                        </svg></i> 05 $125/signup</li>
                    <li><svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                            <path
                                d="M438.6 105.4C451.1 117.9 451.1 138.1 438.6 150.6L182.6 406.6C170.1 419.1 149.9 419.1 137.4 406.6L9.372 278.6C-3.124 266.1-3.124 245.9 9.372 233.4C21.87 220.9 42.13 220.9 54.63 233.4L159.1 338.7L393.4 105.4C405.9 92.88 426.1 92.88 438.6 105.4H438.6z" />
                        </svg></i> 05 $125/signup</li>
                </ul>
            </div>
            <div class="col-6 text-center">
                <img src="https://www.pawnhost.com/images/icon_money_large.jpg">
                <h2 class="my-3" style="font-size: 30px; font-weight: 800; color: #0171BC;">Make $100 easily...</h2>
                <p>If you send us just 4 signups in any month, you will get</p>
                <h2 style="font-size: 30px; font-weight: 800; color: #D05B00;">$100</h2>
                <h2 style="font-size: 30px; font-weight: 800; color: #D05B00;">($25 x 4)</h2>

            </div>
        </div>
    </div>
</section>
<section>
    <div class="container py-5">
        <h2 style="font-size: 30px; font-weight: 800; color: #D05B00;">How Does The Affiliate Program Actually Work?
        </h2>
        <p>All you need is to signup as affiliate, get a unique url and start sharing in your audience. Our transparent
            automatic system will track down the real time sales for you and you will get the money on successful sales.
        </p>
        <div class="text-center">
            <img src="https://www.pawnhost.com/images/affiliate-system.gif">
        </div>
    </div>
</section>
<section style="background-color: #F1F1F1;">
    <div class="container py-5">
        <div class="align-self-center">
            <h2 style="font-size: 30px; font-weight: 800; color: #D05B00;">Easy to Sell Hosting Packages!
            </h2>
            <p>Simply share your affiliate link to your friends and family or network on the internet and get rewarded
                with cash to your account. The more sales you make the more money you will get...There is no commission
                on domains, and company special offers.</p>
            <a class="btn btn-warning btn-lg" href="#" style="padding: 8px 32px !important;">Get Started!</a>
        </div>
    </div>
</section>

{% endblock content %}