{% extends "base.html" %}
{% load static %}

{% block extra_styling %}

.vps {
background-color: #fff;
border: 1px solid #d4d4d4;
border-radius: 5px;
}

.vps-container {
padding: 15px
}

{% endblock extra_styling %}

{% block content %}

<section class="Hero">
    <div class="container py-5 text-white">
        <h1 style="font-size: 57px; font-weight: 800;">Unlimited Bandwidth VPS Hosting Germany
        </h1>
        <b style="color: #ffc70d;">Power and speed cost you money, but we promise to be affordable and helpful...</b>
        <p class="lead" style="font-size: 20px; margin: 0 !important; color: #ffc70d;">at PawnHost you get a variety of
            Linux based High-END VPS machines,DDOS protection, Multiple IP addresses, customised solutions and super
            fast network, server located in Europe (Germany , Finland). Enjoy our powerful beast machines backed by
            friendly tech. support ready to take your business to the next level
        </p>

        <div class="vps my-3">
            <div class="vps-container text-center" style="color: #333333">
                <h2 style="font-size: 30px; font-weight: 800; color: #D05B00;" class="text-center">Buy cheap vps in
                    Germany</h2>
                All our vps are
                <h2 style="font-size: 30px; font-weight: 800; color: #0171BC;" class="text-center">unlimited bandwidth
                    VPS</h2>
                1 Gbps network speed, so you need not to worry about bandwidth or speed.
            </div>
        </div>
        <div class="text-center my-3">
            <i color="text-white">We accept Bitcoin, Ethereum, Paypal, Credit cards and more!</i>
        </div>
        <h2 style="font-size: 30px; font-weight: 800;">You're guaranteed to get <u>MASSIVE</u> SPECS WITH the <u>LOWEST
                POSSIBLE PRICE</u> Server...</h2>

    </div>
</section>
<section class="pricing-table">
    <div class="container py-5">
        <h3 style="font-size: 38px; font-weight: 800; color: #0171BC;" class="text-center">First Come = First Serve</h2>
            <h2 style="font-size: 30px; font-weight: 800; color: #ff0000;" class="text-center">( offer valid while
                stocks last )</h2>
            <h2 style="font-size: 38px; font-weight: 800; color: #0171BC;" class="text-center pb-3">Tiny, Professional
                and
                Massive Virtual Servers</h2>

            <div class="card-deck my-3 text-center">
                <div class="card mb-4 box-shadow">
                    <div>
                        <h4 class="my-3" style="font-size: 40px; font-weight: 800; color: #d05b00;">KID VPS</h4>
                    </div>
                    <div class="card-body">
                        <ul class="list-unstyled text-left mt-3 mb-4">
                            <li style="line-height: 45px;">
                                <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                                    <path
                                        d="M438.6 105.4C451.1 117.9 451.1 138.1 438.6 150.6L182.6 406.6C170.1 419.1 149.9 419.1 137.4 406.6L9.372 278.6C-3.124 266.1-3.124 245.9 9.372 233.4C21.87 220.9 42.13 220.9 54.63 233.4L159.1 338.7L393.4 105.4C405.9 92.88 426.1 92.88 438.6 105.4H438.6z" />
                                </svg></i>
                                10 users included
                            </li>
                            <li style="line-height: 45px;"><svg class="checkmark" xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 448 512">
                                    <path
                                        d="M438.6 105.4C451.1 117.9 451.1 138.1 438.6 150.6L182.6 406.6C170.1 419.1 149.9 419.1 137.4 406.6L9.372 278.6C-3.124 266.1-3.124 245.9 9.372 233.4C21.87 220.9 42.13 220.9 54.63 233.4L159.1 338.7L393.4 105.4C405.9 92.88 426.1 92.88 438.6 105.4H438.6z" />
                                </svg></i>2 GB of storage</li>
                            <li style="line-height: 45px;"><svg class="checkmark" xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 448 512">
                                    <path
                                        d="M438.6 105.4C451.1 117.9 451.1 138.1 438.6 150.6L182.6 406.6C170.1 419.1 149.9 419.1 137.4 406.6L9.372 278.6C-3.124 266.1-3.124 245.9 9.372 233.4C21.87 220.9 42.13 220.9 54.63 233.4L159.1 338.7L393.4 105.4C405.9 92.88 426.1 92.88 438.6 105.4H438.6z" />
                                </svg></i>Email support</li>
                            <li style="line-height: 45px;"><svg class="checkmark" xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 448 512">
                                    <path
                                        d="M438.6 105.4C451.1 117.9 451.1 138.1 438.6 150.6L182.6 406.6C170.1 419.1 149.9 419.1 137.4 406.6L9.372 278.6C-3.124 266.1-3.124 245.9 9.372 233.4C21.87 220.9 42.13 220.9 54.63 233.4L159.1 338.7L393.4 105.4C405.9 92.88 426.1 92.88 438.6 105.4H438.6z" />
                                </svg></i>Help center access</li>
                        </ul>
                        <h3 class="lead">Starting At Only</h3>
                        <h2 class="price">$75 /mo</h2>
                        <a class="btn btn-warning btn-lg" href="#" style="padding: 8px 32px !important;">Get
                            Started!</a>
                    </div>
                </div>
                <div class="card mb-4 box-shadow">
                    <div>
                        <h4 class="my-3" style="font-size: 40px; font-weight: 800; color: #d05b00;">KID VPS</h4>
                    </div>
                    <div class="card-body">
                        <ul class="list-unstyled text-left mt-3 mb-4">
                            <li style="line-height: 45px;">
                                <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                                    <path
                                        d="M438.6 105.4C451.1 117.9 451.1 138.1 438.6 150.6L182.6 406.6C170.1 419.1 149.9 419.1 137.4 406.6L9.372 278.6C-3.124 266.1-3.124 245.9 9.372 233.4C21.87 220.9 42.13 220.9 54.63 233.4L159.1 338.7L393.4 105.4C405.9 92.88 426.1 92.88 438.6 105.4H438.6z" />
                                </svg></i>
                                10 users included
                            </li>
                            <li style="line-height: 45px;"><svg class="checkmark" xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 448 512">
                                    <path
                                        d="M438.6 105.4C451.1 117.9 451.1 138.1 438.6 150.6L182.6 406.6C170.1 419.1 149.9 419.1 137.4 406.6L9.372 278.6C-3.124 266.1-3.124 245.9 9.372 233.4C21.87 220.9 42.13 220.9 54.63 233.4L159.1 338.7L393.4 105.4C405.9 92.88 426.1 92.88 438.6 105.4H438.6z" />
                                </svg></i>2 GB of storage</li>
                            <li style="line-height: 45px;"><svg class="checkmark" xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 448 512">
                                    <path
                                        d="M438.6 105.4C451.1 117.9 451.1 138.1 438.6 150.6L182.6 406.6C170.1 419.1 149.9 419.1 137.4 406.6L9.372 278.6C-3.124 266.1-3.124 245.9 9.372 233.4C21.87 220.9 42.13 220.9 54.63 233.4L159.1 338.7L393.4 105.4C405.9 92.88 426.1 92.88 438.6 105.4H438.6z" />
                                </svg></i>Email support</li>
                            <li style="line-height: 45px;"><svg class="checkmark" xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 448 512">
                                    <path
                                        d="M438.6 105.4C451.1 117.9 451.1 138.1 438.6 150.6L182.6 406.6C170.1 419.1 149.9 419.1 137.4 406.6L9.372 278.6C-3.124 266.1-3.124 245.9 9.372 233.4C21.87 220.9 42.13 220.9 54.63 233.4L159.1 338.7L393.4 105.4C405.9 92.88 426.1 92.88 438.6 105.4H438.6z" />
                                </svg></i>Help center access</li>
                        </ul>
                        <h3 class="lead">Starting At Only</h3>
                        <h2 class="price">$75 /mo</h2>
                        <a class="btn btn-warning btn-lg" href="#" style="padding: 8px 32px !important;">Get
                            Started!</a>
                    </div>
                </div>
                <div class="card mb-4 box-shadow">
                    <div>
                        <h4 class="my-3" style="font-size: 40px; font-weight: 800; color: #d05b00;">KID VPS</h4>
                    </div>
                    <div class="card-body">
                        <ul class="list-unstyled text-left mt-3 mb-4">
                            <li style="line-height: 45px;">
                                <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                                    <path
                                        d="M438.6 105.4C451.1 117.9 451.1 138.1 438.6 150.6L182.6 406.6C170.1 419.1 149.9 419.1 137.4 406.6L9.372 278.6C-3.124 266.1-3.124 245.9 9.372 233.4C21.87 220.9 42.13 220.9 54.63 233.4L159.1 338.7L393.4 105.4C405.9 92.88 426.1 92.88 438.6 105.4H438.6z" />
                                </svg></i>
                                10 users included
                            </li>
                            <li style="line-height: 45px;"><svg class="checkmark" xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 448 512">
                                    <path
                                        d="M438.6 105.4C451.1 117.9 451.1 138.1 438.6 150.6L182.6 406.6C170.1 419.1 149.9 419.1 137.4 406.6L9.372 278.6C-3.124 266.1-3.124 245.9 9.372 233.4C21.87 220.9 42.13 220.9 54.63 233.4L159.1 338.7L393.4 105.4C405.9 92.88 426.1 92.88 438.6 105.4H438.6z" />
                                </svg></i>2 GB of storage</li>
                            <li style="line-height: 45px;"><svg class="checkmark" xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 448 512">
                                    <path
                                        d="M438.6 105.4C451.1 117.9 451.1 138.1 438.6 150.6L182.6 406.6C170.1 419.1 149.9 419.1 137.4 406.6L9.372 278.6C-3.124 266.1-3.124 245.9 9.372 233.4C21.87 220.9 42.13 220.9 54.63 233.4L159.1 338.7L393.4 105.4C405.9 92.88 426.1 92.88 438.6 105.4H438.6z" />
                                </svg></i>Email support</li>
                            <li style="line-height: 45px;"><svg class="checkmark" xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 448 512">
                                    <path
                                        d="M438.6 105.4C451.1 117.9 451.1 138.1 438.6 150.6L182.6 406.6C170.1 419.1 149.9 419.1 137.4 406.6L9.372 278.6C-3.124 266.1-3.124 245.9 9.372 233.4C21.87 220.9 42.13 220.9 54.63 233.4L159.1 338.7L393.4 105.4C405.9 92.88 426.1 92.88 438.6 105.4H438.6z" />
                                </svg></i>Help center access</li>
                        </ul>
                        <h3 class="lead">Starting At Only</h3>
                        <h2 class="price">$75 /mo</h2>
                        <a class="btn btn-warning btn-lg" href="#" style="padding: 8px 32px !important;">Get
                            Started!</a>
                    </div>
                </div>
            </div>
            <h2 style="font-size: 38px; font-weight: 800; color: #0171BC;" class="text-center py-5">Professional Virtual
                Private Servers</h2>

            <div class="card-deck my-3 text-center">
                <div class="card mb-4 box-shadow">
                    <div>
                        <h4 class="my-3" style="font-size: 40px; font-weight: 800; color: #d05b00;">KID VPS</h4>
                    </div>
                    <div class="card-body">
                        <ul class="list-unstyled text-left mt-3 mb-4">
                            <li style="line-height: 45px;">
                                <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                                    <path
                                        d="M438.6 105.4C451.1 117.9 451.1 138.1 438.6 150.6L182.6 406.6C170.1 419.1 149.9 419.1 137.4 406.6L9.372 278.6C-3.124 266.1-3.124 245.9 9.372 233.4C21.87 220.9 42.13 220.9 54.63 233.4L159.1 338.7L393.4 105.4C405.9 92.88 426.1 92.88 438.6 105.4H438.6z" />
                                </svg></i>
                                10 users included
                            </li>
                            <li style="line-height: 45px;"><svg class="checkmark" xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 448 512">
                                    <path
                                        d="M438.6 105.4C451.1 117.9 451.1 138.1 438.6 150.6L182.6 406.6C170.1 419.1 149.9 419.1 137.4 406.6L9.372 278.6C-3.124 266.1-3.124 245.9 9.372 233.4C21.87 220.9 42.13 220.9 54.63 233.4L159.1 338.7L393.4 105.4C405.9 92.88 426.1 92.88 438.6 105.4H438.6z" />
                                </svg></i>2 GB of storage</li>
                            <li style="line-height: 45px;"><svg class="checkmark" xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 448 512">
                                    <path
                                        d="M438.6 105.4C451.1 117.9 451.1 138.1 438.6 150.6L182.6 406.6C170.1 419.1 149.9 419.1 137.4 406.6L9.372 278.6C-3.124 266.1-3.124 245.9 9.372 233.4C21.87 220.9 42.13 220.9 54.63 233.4L159.1 338.7L393.4 105.4C405.9 92.88 426.1 92.88 438.6 105.4H438.6z" />
                                </svg></i>Email support</li>
                            <li style="line-height: 45px;"><svg class="checkmark" xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 448 512">
                                    <path
                                        d="M438.6 105.4C451.1 117.9 451.1 138.1 438.6 150.6L182.6 406.6C170.1 419.1 149.9 419.1 137.4 406.6L9.372 278.6C-3.124 266.1-3.124 245.9 9.372 233.4C21.87 220.9 42.13 220.9 54.63 233.4L159.1 338.7L393.4 105.4C405.9 92.88 426.1 92.88 438.6 105.4H438.6z" />
                                </svg></i>Help center access</li>
                        </ul>
                        <h3 class="lead">Starting At Only</h3>
                        <h2 class="price">$75 /mo</h2>
                        <a class="btn btn-warning btn-lg" href="#" style="padding: 8px 32px !important;">Get
                            Started!</a>
                    </div>
                </div>
                <div class="card mb-4 box-shadow">
                    <div>
                        <h4 class="my-3" style="font-size: 40px; font-weight: 800; color: #d05b00;">KID VPS</h4>
                    </div>
                    <div class="card-body">
                        <ul class="list-unstyled text-left mt-3 mb-4">
                            <li style="line-height: 45px;">
                                <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                                    <path
                                        d="M438.6 105.4C451.1 117.9 451.1 138.1 438.6 150.6L182.6 406.6C170.1 419.1 149.9 419.1 137.4 406.6L9.372 278.6C-3.124 266.1-3.124 245.9 9.372 233.4C21.87 220.9 42.13 220.9 54.63 233.4L159.1 338.7L393.4 105.4C405.9 92.88 426.1 92.88 438.6 105.4H438.6z" />
                                </svg></i>
                                10 users included
                            </li>
                            <li style="line-height: 45px;"><svg class="checkmark" xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 448 512">
                                    <path
                                        d="M438.6 105.4C451.1 117.9 451.1 138.1 438.6 150.6L182.6 406.6C170.1 419.1 149.9 419.1 137.4 406.6L9.372 278.6C-3.124 266.1-3.124 245.9 9.372 233.4C21.87 220.9 42.13 220.9 54.63 233.4L159.1 338.7L393.4 105.4C405.9 92.88 426.1 92.88 438.6 105.4H438.6z" />
                                </svg></i>2 GB of storage</li>
                            <li style="line-height: 45px;"><svg class="checkmark" xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 448 512">
                                    <path
                                        d="M438.6 105.4C451.1 117.9 451.1 138.1 438.6 150.6L182.6 406.6C170.1 419.1 149.9 419.1 137.4 406.6L9.372 278.6C-3.124 266.1-3.124 245.9 9.372 233.4C21.87 220.9 42.13 220.9 54.63 233.4L159.1 338.7L393.4 105.4C405.9 92.88 426.1 92.88 438.6 105.4H438.6z" />
                                </svg></i>Email support</li>
                            <li style="line-height: 45px;"><svg class="checkmark" xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 448 512">
                                    <path
                                        d="M438.6 105.4C451.1 117.9 451.1 138.1 438.6 150.6L182.6 406.6C170.1 419.1 149.9 419.1 137.4 406.6L9.372 278.6C-3.124 266.1-3.124 245.9 9.372 233.4C21.87 220.9 42.13 220.9 54.63 233.4L159.1 338.7L393.4 105.4C405.9 92.88 426.1 92.88 438.6 105.4H438.6z" />
                                </svg></i>Help center access</li>
                        </ul>
                        <h3 class="lead">Starting At Only</h3>
                        <h2 class="price">$75 /mo</h2>
                        <a class="btn btn-warning btn-lg" href="#" style="padding: 8px 32px !important;">Get
                            Started!</a>
                    </div>
                </div>
                <div class="card mb-4 box-shadow">
                    <div>
                        <h4 class="my-3" style="font-size: 40px; font-weight: 800; color: #d05b00;">KID VPS</h4>
                    </div>
                    <div class="card-body">
                        <ul class="list-unstyled text-left mt-3 mb-4">
                            <li style="line-height: 45px;">
                                <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                                    <path
                                        d="M438.6 105.4C451.1 117.9 451.1 138.1 438.6 150.6L182.6 406.6C170.1 419.1 149.9 419.1 137.4 406.6L9.372 278.6C-3.124 266.1-3.124 245.9 9.372 233.4C21.87 220.9 42.13 220.9 54.63 233.4L159.1 338.7L393.4 105.4C405.9 92.88 426.1 92.88 438.6 105.4H438.6z" />
                                </svg></i>
                                10 users included
                            </li>
                            <li style="line-height: 45px;"><svg class="checkmark" xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 448 512">
                                    <path
                                        d="M438.6 105.4C451.1 117.9 451.1 138.1 438.6 150.6L182.6 406.6C170.1 419.1 149.9 419.1 137.4 406.6L9.372 278.6C-3.124 266.1-3.124 245.9 9.372 233.4C21.87 220.9 42.13 220.9 54.63 233.4L159.1 338.7L393.4 105.4C405.9 92.88 426.1 92.88 438.6 105.4H438.6z" />
                                </svg></i>2 GB of storage</li>
                            <li style="line-height: 45px;"><svg class="checkmark" xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 448 512">
                                    <path
                                        d="M438.6 105.4C451.1 117.9 451.1 138.1 438.6 150.6L182.6 406.6C170.1 419.1 149.9 419.1 137.4 406.6L9.372 278.6C-3.124 266.1-3.124 245.9 9.372 233.4C21.87 220.9 42.13 220.9 54.63 233.4L159.1 338.7L393.4 105.4C405.9 92.88 426.1 92.88 438.6 105.4H438.6z" />
                                </svg></i>Email support</li>
                            <li style="line-height: 45px;"><svg class="checkmark" xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 448 512">
                                    <path
                                        d="M438.6 105.4C451.1 117.9 451.1 138.1 438.6 150.6L182.6 406.6C170.1 419.1 149.9 419.1 137.4 406.6L9.372 278.6C-3.124 266.1-3.124 245.9 9.372 233.4C21.87 220.9 42.13 220.9 54.63 233.4L159.1 338.7L393.4 105.4C405.9 92.88 426.1 92.88 438.6 105.4H438.6z" />
                                </svg></i>Help center access</li>
                        </ul>
                        <h3 class="lead">Starting At Only</h3>
                        <h2 class="price">$75 /mo</h2>
                        <a class="btn btn-warning btn-lg" href="#" style="padding: 8px 32px !important;">Get
                            Started!</a>
                    </div>
                </div>
            </div>

            <h2 style="font-size: 30px; font-weight: 800; color: #D05B00;" class="text-center py-4">MASSIVE Virtual
                Private
                Servers
            </h2>

            <div class="card-deck my-3 text-center">
                <div class="card mb-4 box-shadow">
                    <div>
                        <h4 class="my-3" style="font-size: 40px; font-weight: 800; color: #d05b00;">KID VPS</h4>
                    </div>
                    <div class="card-body">
                        <ul class="list-unstyled text-left mt-3 mb-4">
                            <li style="line-height: 45px;">
                                <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                                    <path
                                        d="M438.6 105.4C451.1 117.9 451.1 138.1 438.6 150.6L182.6 406.6C170.1 419.1 149.9 419.1 137.4 406.6L9.372 278.6C-3.124 266.1-3.124 245.9 9.372 233.4C21.87 220.9 42.13 220.9 54.63 233.4L159.1 338.7L393.4 105.4C405.9 92.88 426.1 92.88 438.6 105.4H438.6z" />
                                </svg></i>
                                10 users included
                            </li>
                            <li style="line-height: 45px;"><svg class="checkmark" xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 448 512">
                                    <path
                                        d="M438.6 105.4C451.1 117.9 451.1 138.1 438.6 150.6L182.6 406.6C170.1 419.1 149.9 419.1 137.4 406.6L9.372 278.6C-3.124 266.1-3.124 245.9 9.372 233.4C21.87 220.9 42.13 220.9 54.63 233.4L159.1 338.7L393.4 105.4C405.9 92.88 426.1 92.88 438.6 105.4H438.6z" />
                                </svg></i>2 GB of storage</li>
                            <li style="line-height: 45px;"><svg class="checkmark" xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 448 512">
                                    <path
                                        d="M438.6 105.4C451.1 117.9 451.1 138.1 438.6 150.6L182.6 406.6C170.1 419.1 149.9 419.1 137.4 406.6L9.372 278.6C-3.124 266.1-3.124 245.9 9.372 233.4C21.87 220.9 42.13 220.9 54.63 233.4L159.1 338.7L393.4 105.4C405.9 92.88 426.1 92.88 438.6 105.4H438.6z" />
                                </svg></i>Email support</li>
                            <li style="line-height: 45px;"><svg class="checkmark" xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 448 512">
                                    <path
                                        d="M438.6 105.4C451.1 117.9 451.1 138.1 438.6 150.6L182.6 406.6C170.1 419.1 149.9 419.1 137.4 406.6L9.372 278.6C-3.124 266.1-3.124 245.9 9.372 233.4C21.87 220.9 42.13 220.9 54.63 233.4L159.1 338.7L393.4 105.4C405.9 92.88 426.1 92.88 438.6 105.4H438.6z" />
                                </svg></i>Help center access</li>
                        </ul>
                        <h3 class="lead">Starting At Only</h3>
                        <h2 class="price">$75 /mo</h2>
                        <a class="btn btn-warning btn-lg" href="#" style="padding: 8px 32px !important;">Get
                            Started!</a>
                    </div>
                </div>
                <div class="card mb-4 box-shadow">
                    <div>
                        <h4 class="my-3" style="font-size: 40px; font-weight: 800; color: #d05b00;">KID VPS</h4>
                    </div>
                    <div class="card-body">
                        <ul class="list-unstyled text-left mt-3 mb-4">
                            <li style="line-height: 45px;">
                                <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                                    <path
                                        d="M438.6 105.4C451.1 117.9 451.1 138.1 438.6 150.6L182.6 406.6C170.1 419.1 149.9 419.1 137.4 406.6L9.372 278.6C-3.124 266.1-3.124 245.9 9.372 233.4C21.87 220.9 42.13 220.9 54.63 233.4L159.1 338.7L393.4 105.4C405.9 92.88 426.1 92.88 438.6 105.4H438.6z" />
                                </svg></i>
                                10 users included
                            </li>
                            <li style="line-height: 45px;"><svg class="checkmark" xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 448 512">
                                    <path
                                        d="M438.6 105.4C451.1 117.9 451.1 138.1 438.6 150.6L182.6 406.6C170.1 419.1 149.9 419.1 137.4 406.6L9.372 278.6C-3.124 266.1-3.124 245.9 9.372 233.4C21.87 220.9 42.13 220.9 54.63 233.4L159.1 338.7L393.4 105.4C405.9 92.88 426.1 92.88 438.6 105.4H438.6z" />
                                </svg></i>2 GB of storage</li>
                            <li style="line-height: 45px;"><svg class="checkmark" xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 448 512">
                                    <path
                                        d="M438.6 105.4C451.1 117.9 451.1 138.1 438.6 150.6L182.6 406.6C170.1 419.1 149.9 419.1 137.4 406.6L9.372 278.6C-3.124 266.1-3.124 245.9 9.372 233.4C21.87 220.9 42.13 220.9 54.63 233.4L159.1 338.7L393.4 105.4C405.9 92.88 426.1 92.88 438.6 105.4H438.6z" />
                                </svg></i>Email support</li>
                            <li style="line-height: 45px;"><svg class="checkmark" xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 448 512">
                                    <path
                                        d="M438.6 105.4C451.1 117.9 451.1 138.1 438.6 150.6L182.6 406.6C170.1 419.1 149.9 419.1 137.4 406.6L9.372 278.6C-3.124 266.1-3.124 245.9 9.372 233.4C21.87 220.9 42.13 220.9 54.63 233.4L159.1 338.7L393.4 105.4C405.9 92.88 426.1 92.88 438.6 105.4H438.6z" />
                                </svg></i>Help center access</li>
                        </ul>
                        <h3 class="lead">Starting At Only</h3>
                        <h2 class="price">$75 /mo</h2>
                        <a class="btn btn-warning btn-lg" href="#" style="padding: 8px 32px !important;">Get
                            Started!</a>
                    </div>
                </div>
                <div class="card mb-4 box-shadow">
                    <div>
                        <h4 class="my-3" style="font-size: 40px; font-weight: 800; color: #d05b00;">KID VPS</h4>
                    </div>
                    <div class="card-body">
                        <ul class="list-unstyled text-left mt-3 mb-4">
                            <li style="line-height: 45px;">
                                <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                                    <path
                                        d="M438.6 105.4C451.1 117.9 451.1 138.1 438.6 150.6L182.6 406.6C170.1 419.1 149.9 419.1 137.4 406.6L9.372 278.6C-3.124 266.1-3.124 245.9 9.372 233.4C21.87 220.9 42.13 220.9 54.63 233.4L159.1 338.7L393.4 105.4C405.9 92.88 426.1 92.88 438.6 105.4H438.6z" />
                                </svg></i>
                                10 users included
                            </li>
                            <li style="line-height: 45px;"><svg class="checkmark" xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 448 512">
                                    <path
                                        d="M438.6 105.4C451.1 117.9 451.1 138.1 438.6 150.6L182.6 406.6C170.1 419.1 149.9 419.1 137.4 406.6L9.372 278.6C-3.124 266.1-3.124 245.9 9.372 233.4C21.87 220.9 42.13 220.9 54.63 233.4L159.1 338.7L393.4 105.4C405.9 92.88 426.1 92.88 438.6 105.4H438.6z" />
                                </svg></i>2 GB of storage</li>
                            <li style="line-height: 45px;"><svg class="checkmark" xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 448 512">
                                    <path
                                        d="M438.6 105.4C451.1 117.9 451.1 138.1 438.6 150.6L182.6 406.6C170.1 419.1 149.9 419.1 137.4 406.6L9.372 278.6C-3.124 266.1-3.124 245.9 9.372 233.4C21.87 220.9 42.13 220.9 54.63 233.4L159.1 338.7L393.4 105.4C405.9 92.88 426.1 92.88 438.6 105.4H438.6z" />
                                </svg></i>Email support</li>
                            <li style="line-height: 45px;"><svg class="checkmark" xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 448 512">
                                    <path
                                        d="M438.6 105.4C451.1 117.9 451.1 138.1 438.6 150.6L182.6 406.6C170.1 419.1 149.9 419.1 137.4 406.6L9.372 278.6C-3.124 266.1-3.124 245.9 9.372 233.4C21.87 220.9 42.13 220.9 54.63 233.4L159.1 338.7L393.4 105.4C405.9 92.88 426.1 92.88 438.6 105.4H438.6z" />
                                </svg></i>Help center access</li>
                        </ul>
                        <h3 class="lead">Starting At Only</h3>
                        <h2 class="price">$75 /mo</h2>
                        <a class="btn btn-warning btn-lg" href="#" style="padding: 8px 32px !important;">Get
                            Started!</a>
                    </div>
                </div>
            </div>
            <div class="text-center">
                <b>You can upgrade to any VPS plan instantly. </b>
            </div>
    </div>
</section>
<section>
    <div class="container py-3">
        <div class="row">
            <div class="col-8 align-self-center">
                <h2 style="font-size: 30px; font-weight: 800; color: #D05B00;">ARE YOU LOOKING FOR SOMETHING BETTER &
                    FORTIFIED?
                </h2>
                <p>We deploy beefy machines with massive memory, rock solid drives and multi core processors for
                    lightning fast execution. All our plans include dedicated IP address, full root access & choice of
                    control panel, giving you the maximum flexibility & cost-effectiveness. If you are looking for an
                    efficient & low-cost way to market your website all around the internet, then our Europe based
                    cheapest Virtual Private Servers(Germany) will arm you with the ability to cater to the internet
                    audiences everywhere. We guarantee excellent connectivity to the Europe, UK, Asia & USA. We
                    regularly monitor our servers for maximum performance. Our technical support has advanced deployment
                    scheme with proactive approach to keep the system up and running.
                </p>
                <a class="btn btn-warning btn-lg" href="#" style="padding: 8px 32px !important;">Get Started!</a>
            </div>
            <div class="col-4">
                <img src="https://www.pawnhost.com/images/website-builder.jpg">
            </div>
        </div>
    </div>
</section>
<section class="mt-3" style="background-color: #F1F1F1;">
    <div class="container py-3 text-center">
        <h2 style="font-size: 30px; font-weight: 800; color: #D05B00;" class="text-center mb-3">Powerful Solution For Growing Businesses!</h2>
        <p class="mb-4">If you have limited budget and you badly need the dedicated power, PawnHost can help! We provide you the power of dedicated servers at the lowest possible price to help to you to scale in your budget.</p>
        <div class="row">
            <div class="col-6 my-3">
                <div class="text-center">
                    <img src="https://www.pawnhost.com/images/wpsite.jpg">
                    <div class="card-body">
                        <h3 class="card-title">VPS Server Unlimited Bandwidth</h3>
                        <p style=" font-size: 14px; font-weight: 400;">Is your website slow or acting weird. Power up your growing blog with a virtual private server to get real speed and performance.
                        <p>
                    </div>
                </div>
            </div>
            <div class="col-6 my-3">
                <div class="text-center">
                    <img src="https://www.pawnhost.com/images/wpsite.jpg">
                    <div class="card-body">
                        <h3 class="card-title">VPS Server Unlimited Bandwidth</h3>
                        <p style=" font-size: 14px; font-weight: 400;">Is your website slow or acting weird. Power up your growing blog with a virtual private server to get real speed and performance.
                        <p>
                    </div>
                </div>
            </div>
            <div class="col-6 my-3">
                <div class="text-center">
                    <img src="https://www.pawnhost.com/images/wpsite.jpg">
                    <div class="card-body">
                        <h3 class="card-title">VPS Server Unlimited Bandwidth</h3>
                        <p style=" font-size: 14px; font-weight: 400;">Is your website slow or acting weird. Power up your growing blog with a virtual private server to get real speed and performance.
                        <p>
                    </div>
                </div>
            </div>
            <div class="col-6 my-3">
                <div class="text-center">
                    <img src="https://www.pawnhost.com/images/wpsite.jpg">
                    <div class="card-body">
                        <h3 class="card-title">VPS Server Unlimited Bandwidth</h3>
                        <p style=" font-size: 14px; font-weight: 400;">Is your website slow or acting weird. Power up your growing blog with a virtual private server to get real speed and performance.
                        <p>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</section>
{% include "reviews.html" %}
{% endblock content %}