<!-- Footer -->
<footer class="page-footer font-small" style="background-color: #005695;">

    <div class="bg-primary text-white">
        <div class="container">

            <div class="row py-4 d-flex align-items-center">
                <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
                    <h3 class="mb-0" style="font-weight: 800; font-size: 38px;">Save your Time, Get it Done Today!</h3>
                </div>

                <div class="col-md-2 col-lg-3 text-center text-md-right">
                    <p style="color: #ffcb08; font-size: 14px; margin: 0px;">
                        Starting At Only
                    </p>
                    <h3 style="font-weight: 600;">$5 /mo</h3>
                </div>

                <div class="col-md-3 col-lg-4 text-center text-md-right">
                    <a class="btn btn-primary btn-white" href="#"
                        style="padding: 17px 40px; font-size: 20px; font-weight: 800; color: #005793 !important;">Get
                        Started!</a>
                </div>
            </div>

        </div>
    </div>

    <div class="container text-center text-md-left mt-5">

        <div class="row mt-3 text-white">

            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

                <h6 class="text-uppercase font-weight-bold mb-4" style="color: #f8931f!important; font-size: 22px;">
                    Hosting</h6>
                <p>
                    Unlimited Bandwidth
                </p>
                <p>
                    VPS Hosting
                </p>
                <p>
                    Current Special
                </p>

            </div>

            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

                <h6 class="text-uppercase font-weight-bold mb-4" style="color: #f8931f!important; font-size: 22px;">
                    Support</h6>
                <p>
                    <a href="#!">Customer Portal</a>
                </p>
                <p>
                    <a href="#!">Announcements</a>
                </p>
                <p>
                    <a href="#!">Knowledge Base</a>
                </p>


            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

                <!-- Links -->
                <h6 class="text-uppercase font-weight-bold mb-4" style="color: #f8931f!important; font-size: 22px;">
                    Company</h6>
                <p>
                    <a href="#!">Company Blog</a>
                </p>
                <p>
                    <a href="#!">Contact Us</a>
                </p>

            </div>


            <div class="col-md-3lg-4 col-xl-3 mx-auto mb-4">

                <h6 class="text-uppercase font-weight-bold mb-4" style="color: #f8931f!important; font-size: 22px;">
                    Affiliates</h6>
                <p>Make money by simply recommending our hosting service to your blog audience, family, friends and co
                    workers. click to sign up now </p>
                <p>
                    <a href="#!">Become An Affiliate</a>
                </p>
                <p>
                    <a href="#!">Affiliate Portal</a>
                </p>
            </div>
        </div>

    </div>

    <div class="footer-copyright text-white py-3" style="background-color: #0171BC;">
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <ul class="list-inline">
                        <li class="list-inline-item"><a href="#!">Terms of Service</a></li>
                        |
                        <li class="list-inline-item"><a href="#!">Privacy Policy</a></li>
                    </ul>
                    Copyright 2022 PawnHost.com LLC. All Rights Reserved.
                </div>
                <div class="col-6">
                    <img src="https://cdn3.iconfinder.com/data/icons/capsocial-round/500/facebook-512.png"
                        style="width: 40px;">
                    <img src="https://www.freeiconspng.com/uploads/youtube-logo-png-hd-21.png" style="width: 40px;">
                </div>
            </div>
        </div>
    </div>

</footer>