<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="/"><img src="https://www.pawnhost.com/images/logodefault.png"
                style="width: 70%;"></a>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">

            <div class="my-2 my-lg-0 d-sm-none d-md-inline ml-auto">
                <ul class="list-unstyled my-auto">
                    <li style="font-size: 16px; font-weight: 100;">+1(251) 270-4416 (whatsapp)</li>
                    <li style="font-size: 16px; font-weight: 100;"><a href="#" style="color: #4c4c4c;">Customer Portal</a> | <a href="#" style="color: #4c4c4c;">Help</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>
<div class="navbar navbar-expand-lg bg-primary" style="padding: 5px 1rem !important;border-top: 2px solid #014F83;">
    <div class="container">
        <div class="navbar navbar-toggleable-md navbar-dark bg-faded">
            <div class="collapse navbar-collapse" id="navbarToggler1">
                <ul class="navbar-nav mx-auto mt-2 mt-md-0">
                    <li class="nav-item">
                        <a class="nav-link" href="/reseller-hosting/">Reseller Hosting</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/cheap-vps-hosting/">VPS Hosting</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="/cheap-dedicated-server/">Dedicated Hosting</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="/affiliates/">Affiliates</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="/payments/">Payments</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>