{% extends "base.html" %}
{% load static %}

{% block extra_styling %}

{% endblock extra_styling %}

{% block content %}

<section class="Hero">
    <div class="container py-5 text-white">
        <h1 style="font-size: 57px; font-weight: 800;">Start your own hosting company</h1>
        <p class="lead" style="font-size: 24px; margin: 0 !important;">We offer you business in a box solution, so that you can sell with full confidence and peace of mind...
        </p>
        <p class="lead" style="font-size: 24px; margin: 0 !important;"> We provide you set it and forget it solution so that you can enjoy your own passive income stream up and
            running 24/7/365.
        </p>
        <p class="lead" style="font-size: 24px; margin: 0 !important;">Server setup, website management, tech. support, data backups! we take care all.
        </p>
        <a class="btn btn-warning btn-md font-weight-bold my-3" href="#" style="padding: 8px 32px !important;">Order now!</a>
</section>
<section>
    <div class="container py-5">
        <div class="row">
            <div class="col-8 align-self-center">
                <h2 style="font-size: 30px; font-weight: 800; color: #D05B00;">Start with your own Virtual Private
                    Server</h2>
                <p>Get more control and power with our VPS hosting, your own dashboard to manage your virtual private
                    server.</p>
                <a class="btn btn-warning btn-lg" href="#" style="padding: 8px 32px !important;">Get Started!</a>
            </div>
            <div class="col-4">
                <img src="https://www.pawnhost.com/images/website-builder.jpg">
            </div>
        </div>
    </div>
</section>

{% endblock content %}